<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HTML5 Example Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="HTML5 Example Page">
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
  <header>
    <h1>User 2 changes...</h1>
  </header>

  <form  method="post" action="http://127.0.0.1:8080/update-user">
    <label for="id">User ID:</label>
    <input type="text" id="id" name="id" value="2"><br>
    <label for="lname">Approved:</label>
    <input type="text" id="approved" name="approved" value="true"><br><br>
    <input type="submit" value="Submit">
  </form>

</body>
</html>