<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit-icons.min.js"></script>
  </head>
  <body>
    <form>
      <div class="uk-flex uk-flex-center">
        <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-margin-large-top">
          <h3 class="uk-card-title">Welcome</h3>
          <div class="uk-margin">
            <div class="uk-inline">
              <span class="uk-form-icon" uk-icon="icon: user"></span>
              <input class="uk-input" type="text">
            </div>
          </div>
          <div class="uk-margin">
            <div class="uk-inline">
              <span class="uk-form-icon" uk-icon="icon: lock"></span>
              <input class="uk-input" type="password">
            </div>
          </div>
          <div class="uk-margin" align="right">
            <div class="uk-inline">
              <button class="uk-button uk-button-default">login</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
